<div class="col-md-12">
  <h2>{{model.config.label}}</h2>
  <p class="text-primary">Version: {{model.config.version}}</p>
  <p>{{publish-version version=model}}</p>

  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <h3 class="panel-title"><strong>Definition</strong></h3>
    </div>
    <div class="panel-body prettyprint">
      <pre>{{model.prettyJson}}</pre>
    </div>
  </div>
</div>
